<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Redes Sociales</h2>
                <h3 class="section-subheading text-muted">La forma de conocernos mejor.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Facebook</h4>
                <p class="text-muted">Dale like a nuestra pagina y comenta con otras personas para enterarte de lo ultimo en el mundo de la fotografia.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Twitter</h4>
                <p class="text-muted">Siguenos y no te quedes fuera del tema fotografico nunca.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Instagram</h4>
                <p class="text-muted">Visita nuestra enorme galeria de fotos mas de cerca y actualizada.</p>
            </div>
        </div>
    </div>
</section>